@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    padding: 10px;
    background-color: rgb(116, 116, 116);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../Fonts/Poppins-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../Fonts/Poppins-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../Fonts/Poppins-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../Fonts/Poppins-Black.ttf') format('ttf');
}

body {
    font-family: 'Poppins', sans-serif !important;
}

input:focus {
    outline: 2px solid deeppink;
}
